@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --bg-default: #FAFAF8;
  --bg-sub: #FFFFFF;
  --border: #E3E1DA;
  --border-strong: #C9C7BE;
  --text-default: #1A1A17;
  --text-sub: #6E6C64;
  --point: #5B4A8A;
}
.dark {
  --bg-default: #250E2C;
  --bg-sub: #311C3A;
  --border: #3A2F45;
  --border-strong: #3A3D41;
  --text-default: #EDEDE9;
  --text-sub: #B8AEC4;
  --point: #A78BFA;
}


@theme inline {
  --color-bg-default: var(--bg-default);
  --color-bg-sub: var(--bg-sub);
  --color-border: var(--border);
  --color-border-strong: var(--border-strong);
  --color-text-default: var(--text-default);
  --color-text-sub: var(--text-sub);
  --color-point: var(--point);

  --text-head: 40px;
  --text-section: 20px;
  --text-label: 12px;
  --text-body: 16px;
  --text-caption: 13px;
}